{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    },
    {{- if .Params.categories -}}
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ (index .Params.categories 0) }}",
      "item": "{{ .Site.BaseURL }}categories/{{ (index .Params.categories 0) | urlize }}/"
    },
    {{- end -}}
    {
      "@type": "ListItem",
      "position": {{ if .Params.categories }}3{{ else }}2{{ end }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end -}}
