<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{ $mediumish := resources.Get "/js/mediumish.js" | resources.Fingerprint }}
<script src="{{ $mediumish.RelPermalink | absURL }}" integrity="{{ $mediumish.Data.Integrity }}"></script>

<!-- Fuse.js fuzzy search -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js" crossorigin="anonymous"></script>
{{ $searchJS := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
<!-- Dark mode toggle -->
{{ $darkJS := resources.Get "js/darkmode.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $darkJS.RelPermalink }}" integrity="{{ $darkJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
