{{ $mediumish := resources.Get "/js/mediumish.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $mediumish.RelPermalink | absURL }}" integrity="{{ $mediumish.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{ $searchJS := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
<!-- Dark mode toggle -->
{{ $darkJS := resources.Get "js/darkmode.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $darkJS.RelPermalink }}" integrity="{{ $darkJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
