<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Gurwinder",
  "url": "{{ .Site.BaseURL }}",
  "description": {{ .Site.Params.description | jsonify }},
  "jobTitle": "GPU Software Development Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Intel Corporation"
  },
  "sameAs": [
    {{ (printf "https://linkedin.com/in/%s" .Site.Params.social.linkedin) | jsonify }},
    {{ (printf "https://github.com/%s" .Site.Params.social.github) | jsonify }}
  ],
  "image": {{ .Site.Params.author.thumbnail | absURL | jsonify }}
}

</script>
