{{- if .IsPage -}}
<!-- Schema.org Article Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ (.Description | default (.Summary | plainify)) | jsonify }},
  "image": {{- if .Params.image }}{{ .Params.image | absURL | jsonify }}{{- else }}"https://sgurwinderr.com/favicon.png"{{- end }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author.name | jsonify }},
    "url": "{{ .Site.BaseURL }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": "{{ .Site.BaseURL }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
}
</script>
{{- end -}}
